p{
    color:aquamarine
}
p{
    color:blueviolet;
    background-color:blanchedalmond;
    padding:20px 10px 5px 5px;
    width:40px;
    outline:10px  solid royalblue;
    border: 10px solidblueviolet;
    overflow:  hidden;


    


}



    

